/* styles.css */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.overlay .content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.overlay .content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #77B0AA;
    border: none;
}

@media (max-width: 768px) {
    .overlay .content h1 {
        font-size: 2rem;
    }

    .overlay .content p {
        font-size: 1rem;
    }
}

#about {
    background-color: #E3FEF7;
    color: #003C43;
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: #135D66;
    margin-bottom: 20px;
}



#card {
    background-color: aqua;
    width: 300px;
    height: 300px;
    margin: 25px;
}

.cardsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media (max-width: 768px) {
    #card {
        width: 200px; 
        height: 200px;
        margin: 15px; 
    }
}


@media (max-width: 480px) {
    #card {
        width: 150px; 
        height: 150px; 
        margin: 10px;
    }
    .cardsdiv {
        flex-direction: column; 
    }
}
